@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom SimpleBar settings */
.simplebar-scrollbar:before {
  background: #9333ea !important; /* Tailwind purple-600 */
  opacity: 1 !important;
  box-shadow: none !important;
  filter: none !important;
}

.simplebar-track.simplebar-horizontal {
  background: #2d2d2d !important; /* Tailwind gray-800 */
  border-radius: 8px;
  height: 8px !important;
}
